*
!config
!config/*
!config/pep/*
!.tests
!.tests/**/*
!resources
!resources/*
!workflow
!workflow/**
.gitignore
!.gitattributes
!.editorconfig
!LICENSE
!README.md
!.gitignore
!.github
!.github/**
!contributions
